// 共通
* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*:active {
    outline: none;
}

body {
    background-color: rgba(252, 245, 236, 1);
    font-family: Atlanta, sans-serif;
    color: rgba(112, 112, 112, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(112, 112, 112, 1);
}

.flex {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 756px) {
    .flex {
        flex-direction: row;
    }
}

// PC表示：「メールアドレス」　スマホ表示：「アドレス」
.min {
    display: none;
}

@media screen and (min-width: 756px) {
    .min {
        display: initial;
    }
}

// レイアウト
.wrapper {
    // max-width: 1120px;
    margin: 20px 30px 50px;
}

#header {
    margin-bottom: 40px;

    .info-text {
        margin: 10px;
    }

    .title-box {
        color: white;

        .main-title {
            background-color: rgba(255, 199, 68, 1);
            padding: 15px 30px;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            border-radius: 40px;
            margin: 50px 20px 10px;
        }
        .sub-title {
            font-size: 17px;
            color: rgba(112, 112, 112, 1);
            text-align: center;
        }
    }

    // ハンバーガーメニュー
    .hamburger {
        display: block;
        position: fixed;
        z-index: 3;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
        span {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            left: 6px;
            background-color: rgb(238, 167, 0);
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
            &:nth-child(1) {
                top: 10px;
            }
            &:nth-child(2) {
                top: 20px;
            }
            &:nth-child(3) {
                top: 30px;
            }
        }
    }

    .hamburger.active {
        span {
            &:nth-child(1) {
                top: 16px;
                left: 6px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 16px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    .header-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        color: rgba(112, 112, 112, 1);
        background: #fff;
        text-align: center;
        transform: translateY(-100%);
        transition: all 0.6s;
        width: 100%;

        ul {
            margin: 0 auto;
            padding: 0;
            width: 100%;

            li {
                list-style-type: none;
                padding: 0;
                width: 100%;
                border-bottom: 1px solid #fff;
                background-color: rgb(252, 238, 193);
                color: rgb(238, 167, 0);
                transform: scale(1);

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
                &:not(1):hover {
                    opacity: 0.7;
                    transform: scale(1.2);
                }

                .header-list {
                    display: block;
                    color: rgb(238, 167, 0);
                    padding: 1em 0;
                    text-decoration: none;
                }
            }
        }
    }
    .header-menu.active {
        transform: translateY(0%);
    }
}

// 共通コンテンツ
.common-title {
    font-size: 17px;
    font-weight: bold;
    color: rgb(238, 167, 0);
    margin-bottom: 20px;
}

.common-text {
    border-radius: 5px;
    margin: 20px 5px; /* 外側の余白 上下・左右 */
    padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
    position: relative;
    z-index: 0;
    background-color: rgb(252, 238, 193);
    display: inline-block;
    margin-bottom: 40px;
    &:before {
        border: 1px solid #fff; /* 白い実線 */
        border-radius: 5px;
        content: "";
        display: block;
        margin: 4px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: -1;
    }
    &:after {
        font-size: 18px;
        background-color: rgb(234, 219, 186);
        background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0); /* 水玉の色 */
        background-position: 0 0, 8px 8px; /* 水玉の距離 */
        background-size: 15px 15px; /* 水玉の大きさ */
        border-left: 2px dotted rgba(0, 0, 0, 0.1);
        border-right: 2px dotted rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        content: "";
        display: block;
        padding: 5px 20px;
        text-align: center;
        position: absolute;
        top: -18px;
        left: 20px;
        transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
    }
}

.btn-parts {
    text-align: center;
}

.btn {
    background-color: rgba(255, 199, 68, 1);
    border: none;
    border-radius: 22px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.161);
    padding: 13px 22px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 179, 0);
        color: #fff;
    }

    &:focus {
        background-color: rgb(255, 179, 0);
        color: #fff;
    }

    &:active {
        background-color: rgb(255, 179, 0);
        box-shadow: none;
    }
}

.back {
    background-color: #a9a9a9;
    &:hover {
        background-color: #878787;
    }

    &:focus {
        background-color: #878787;
    }

    &:active {
        background-color: #878787;
        box-shadow: none;
    }
}

// メニューのプロフィール画面
.profile-title {
    padding-top: 10px;
    margin-bottom: 20px;
}
.profile-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .profile-text {
        margin-top: 10px;
        margin-right: 10px;
        .profile-name {
            margin-bottom: 20px;
        }
    }

    .edit-btn {
        color: #fff;
        background-color: rgba(255, 199, 68, 1);
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.161);
        border: none;
        padding: 5px 15px;
        border-radius: 22px;
    }

    .profile-img {
        margin-left: 10px;
        .profile-img--parts {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .logout-btn--parts {
        margin: 30px 0 0 10px;
        align-content: flex-end;
    }
}

// ログインしていない場合ページ下に会員登録・ログインバー表示
.authorization-area {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;

    .authorization-btn {
        font-size: 15px;
        cursor: pointer;
        display: block;
        width: 50%;
        text-align: center;
        background-color: rgba(255, 199, 68, 1);
        border: 1px dotted #fff;
        color: #fff;
        padding: 10px 30px 10px 50px;
        position: relative;

        &:hover {
            background-color: rgb(255, 179, 0);
        }

        &:first-child::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 16%;
            left: 25%;
            z-index: 999;
            width: 25px;
            height: 25px;
            background: url(./img/door-open-solid.png) center/contain no-repeat;
            vertical-align: middle;
        }

        &:last-child::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 18%;
            left: 25%;
            z-index: 999;
            width: 25px;
            height: 25px;
            background: url(./img/id-card-solid.png) center/contain no-repeat;
            vertical-align: middle;
        }

        .authorization-text {
            margin: 0 auto;
        }
    }


    @media screen and (min-width: 700px) {
        .authorization-btn {
            &:first-child::before {
                left: 35%;
            }
            &:last-child::before {
                left: 35%;
            }
        }
        .authorization-text {
            width: 25%;
        }
    }
}

// ログアウトボタン
.logout-btn--parts {
    text-align: right;
    margin-bottom: 20px;
}

.logout-btn {
    font-size: 15px;
    padding: 5px 15px;
}

// ログインorログアウトしたらアラート出す
.alert {
    display: none;
    &.on {
        display: block;
    }
    img {
        width: 200px;
        height: auto;
    }
}
